<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!-- Messages -->
<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- Edit Account form to display -->
<div class="form-container">
    <form class="form" id="updateAccountInfoForm" action="/account/edit-account" method="post">
        <div class="edit-account-field">
            <div class="name-field">
                <label for="account_firstname">First Name:<input type="text" name="account_firstname" id="account_firstname"
                        autocomplete="given-name" title="Please enter your first name" required
                        value="<%= locals.account_firstname %>"></label>
            </div>
            <div class="name-field">
                <label for="account_lastname">Last Name:<input type="text" name="account_lastname" id="account_lastname"
                        autocomplete="family-name" title="Please enter your last name" required
                        value="<%= locals.account_lastname %>"></label>
            </div>
            <div class="email-field">
                <label for="account_email">E-mail Address:<input type="email" name="account_email" id="account_email"
                        autocomplete="email" title="Please enter your e-mail address" placeholder="person@email.com" required
                        value="<%= locals.account_email %>">
                </label>
            </div>
        </div>
        <button type="submit" id="edit-info-button" disabled>Update</button>
        <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>"
            <% } %>>
    </form>
    <form class="form" id="updateAccountPasswordForm" action="/account/edit-account-password" method="post">
        <div class="edit-password-field">
            <div class="password-field">
                <span id="password-reqs">This action will change your password.<br><br>
                    Passwords must be at least 12 characters and contain at least 1 number, 1 capital
                    letter and 1 special character.</span>
                <label for="account_password">Password:
                    <input type="password" name="account_password" id="account_password" autocomplete="new-password"
                        title="Please enter your password. Min. 12 characters with one capital, one number and one special character."
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
                </label>
            </div>
        </div>
        <button type="submit" id="change-password-button" disabled>Change Password</button>
        <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>"
            <% } %>>
    </form>
</div>

<script src="../../js/acct-update.js"></script>